<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <header class="col-md-12 col-sm-12">
        <a href="/Home/Index"><img src="~/Images/logo.png" /></a>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">CatStore</a>
                </div>
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                    @if (User.IsInRole("admin"))
                {
                    <li>@Html.ActionLink("Заказы", "Index", "Order")</li>
            }
                </ul>
            </div>
        </nav>
        @Html.Partial("_LoginPartial")
    </header>
    <div class="container">
        <div class="row">

        </div>
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
