@model CatStore.WEB.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Login", "Account", FormMethod.Post, new { @class = "form-signin", role = "form" }))
{
    @Html.ActionLink("Главная страница", "Index", "Home")
    @Html.AntiForgeryToken()
    <h2>Вход</h2>
    @Html.ValidationSummary()

    <fieldset>
        <div class="control-group">
            <!-- E-mail -->
            @Html.LabelFor(m => m.Email, "Email")
            <div class="controls">
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Введите email.", @type = "email" })
            </div>
        </div>

        <div class="control-group">
            <!-- Password-->
            @Html.LabelFor(m => m.Password)
            <div class="controls">
                @Html.PasswordFor(m => m.Password, new { @type = "password", @placeholder = "Введите пароль" })
            </div>
        </div>

        <br />
        <div class="control-group">
            <!-- Button -->
            <div class="controls">
                <button class="btn btn-success">Войти</button>
            </div>
        </div>
    </fieldset>
}